.App {
  text-align: center;
  background-color: #FB85CC;
  width: 100vw;
  height: 98vh;
  /* background-image: url('./assets/demon-slayer1.gif'); */
  background-repeat: no-repeat;
  background-size: cover;
}
